body, html {
 margin:auto;
 display:block;
 width:960px;
}

header {
  border-bottom: 12px outset rgb(214, 211, 211);
  height:120px;
  width:100%;
  overflow:hidden;
  display: inline-block;
}

#logocard {
  width:30%;
  height:100%;
  float:left;
}

#logobox {
  height:100%;
  width:42px;
  float:left;
}
#logo {
  position: relative; top:49px;
  display: inline;
}

#logotext {
  position: relative; left:5px; top:49px;
  display:inline;
}
#logotext h1 {
  font-family: 'Yellowtail', cursive;
  font-size:2.2em;
}
#logotext p {
  font-family: 'Oswald', sans-serif;
  font-size:.7em;
}

.links {
  width:30%;
  height:100%;
  float:right;
  position: relative; top:55px;
}

.links li {
  float:right;
  padding: 2px;
}

#infonav {
  margin-left:5px;
  padding-left: 5px;
}

/* #socialnav {
} */

.postbanner h2 {
  font-family: 'Oswald', sans-serif;
  font-weight:bold;
  font-size:2.6em;
  margin-top:50px;
}

#timestampheader{
  color: rgb(120,120,120);
  display: inline-block;
  font-size:.8em;
  font-family: 'Oswald', sans-serif;
  margin-top:.8em;
  width:100%;
  overflow:hidden;

}

#timestamp{
  float:left;
  width:40%;
}

#ipittytheprinta {
  float:right;
  width:20%;
  text-align:right;
}

#print {
  display:inline;
}

#heropic {
  width:100%;
  margin-top:25px;
  margin-bottom:12.5px;
}

.instructions {
  text-indent:1.8em;
  font-family: 'IBM Plex Serif', serif;
  color: rgb(80,80,80);
  font-size:1.12em;
  line-height:25px;
}

.instructions p {
  padding-top:12.5px;
  padding-bottom:12.5px;
}

section.ingredients img {
  border-bottom: 12px outset rgb(214, 211, 211);
  margin: 30px 0;
  padding-bottom: 30px;
  /* position: relative; */
  width: 960px;
}

.ingredients div {
  font-family: 'IBM Plex Serif', serif;
  color: rgb(80,80,80);
  font-size: 20px;
  width: 960px;
}

.ingredients div#recipieL {
  position: relative;
  top: -355px; left: 60px;
  width: 50%;
}

.ingredients div#recipieR {
  position: relative;
  top: -540px; left: 480px;
  width: 50%;
}

.ingredients #twoL, #threeL, #fourL, #fiveL, #sixL {
  margin-top: 18px;
}

.ingredients #twoR, #threeR, #fourR, #fiveR, #sixR {
  margin-top: 18px;
}

.strikethrough:checked + .strikeThis {
  text-decoration: line-through
}

.author #vanpic {
  float: left;
}

.author .author-info {
  color: rgb(80,80,80);
  display: inline-block;
  font-family: 'IBM Plex Serif', serif;
  margin-left: 25px;
  width: 600px;
}

.author .author-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.author .author-info p {
  font-size: 16px;
}

